.page-header{
	margin-top: 0;
}

.panel-body{
	padding-top: 0;
}

body{ 
	padding-bottom: 70px;
}

#navbarConstruction{
	margin-bottom: 115px;
}

#jumboConstruction{
	border-style:solid;
	border-color:#ff0000;
}
